<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426976129064-ptjmnbvec8h3hvhc6m9s50jm09mg3r67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426976129064-ptjmnbvec8h3hvhc6m9s50jm09mg3r67</string>
	<key>API_KEY</key>
	<string>AIzaSyAmwCAivzJUSns558m4D9z44Z9uf6pHGvY</string>
	<key>GCM_SENDER_ID</key>
	<string>426976129064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bettertogether</string>
	<key>PROJECT_ID</key>
	<string>bettertogehter-e1268</string>
	<key>STORAGE_BUCKET</key>
	<string>bettertogehter-e1268.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426976129064:ios:59111c5774eb0a67f6051d</string>
</dict>
</plist>